<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">This is a sample Blog Application built by Udemy Ruby on Rails Master class located 
        <%= link_to "here","https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/",
             class: "btn btn-success btn-sm"%> </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to "Sign Up!" , signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>